.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f1f1f1;
  width: 26vw;
  height: 100vh;
  margin-left: 35vw;
  margin-top: 20vh;
  border-radius: 10px;
  opacity: 0.9;
}

.profile img {
  margin-top: 40px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form label {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.profile-form input,
.profile-form select {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 16px;
}

.profile-form select {
  width: auto;
}

.profile-form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.profile-form-buttons button {
  margin: 0px 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.profile-form-buttons button:hover {
  background-color: #3E8E41;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-details p {
  margin-bottom: 10px;
}

.profile-details strong {
  font-weight: bold;
}

.profile-details button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.profile-details button:hover {
  background-color: #3E8E41;
}
