.filme {
  display: flex;
  margin-top: 20vh;
  background-color: #222;
  color: #fff;
  padding: 40px 0;
}

.filme img {
  width: 22vw;
  height: 60vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2vh;
  border-radius: 10px;
}

.detalhes {
  flex-direction: column;
  display: flex;
  color: white;
  margin-left: 2vw;
}

.sinopse {
  width: 40vw;
}


.title2 {
  margin-bottom: -20px;
}

.genres {
  display: flex;

}

.listaDeGeneros {
  display: flex;
  justify-content: space-around;
  margin-left: 1vw;
}
