.slick-slide {
  margin: 0;
}


.imagem {
  display: flex;
  border-radius: 30px;
  width: 95%;
  margin-bottom:2vh;
  object-fit: cover;
  transition: transform 0.5s ease-out;
  margin-left: 2.5vw
}

.imagem:hover {
  transform: scale(1.05);
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.destaques {
  display: block;
  margin-bottom: 10px;
  margin-left: 2.5vw;
  font-size: 2.0em;
  color: white;
  font-weight: bold;
}

.carousel-home {
  margin-top: 110px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-home div {
  margin-top: 2.5px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .carousel-home div {
    height: 70vh;
  }
}

@media screen and (max-width: 480px) {
  .carousel-home div {
    height: 50vh;
  }
}


