#listaFilmesPopulares > div {
  width: 17%;
  padding: 15px 2px;
  box-sizing: border-box;
  transition: transform 0.5s ease-out;
}

  
.popular {
  display: block;
  margin-bottom: 2.5vh;
  margin-left: 4vw;
  font-size: 2.0em;
  color: white;
  font-weight: bold;
}
.movie-card {
  flex: 0 0 250px; /* Define a largura mínima e máxima do card */
  display: flex;
  transform: scale(1.05);
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#listaFilmesPopulares {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  alingn-items: center;
  padding-left:9vw;
  gap: 8px;
  width: 80vw;
}

 