#textosNav {
    display: flex;
    width: 100%;
}

#lista {
    display: flex;
    list-style: none;
    font-size: 20px;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    list-style: none;
    link-style: none;
}

li{
    link-style: none;
    list-style: none;
}

#logo {
    color:red;
    font-size: 30px;
    font-weight: bold;
    width: 10vw;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  // outros estilos que você queira adicionar
}
